@use "reset.scss";

$blue: #007aff;

:root {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
}

html {
	transition:
		background 0.2s ease-in-out,
		color 0.2s ease-in-out;

	background: #fff;
	color: #000;
	@media (prefers-color-scheme: dark) {
		background: #131416;
		color: #fff;
	}
}

main {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 2rem 5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	@media only screen and (max-width: 820px) {
		padding: 0 1rem 3rem;
	}
}

a.link {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
	position: relative;
	transition: color 0.2s ease-in-out;

	&:after {
		transition: width 1s ease-in-out;
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 2px;
		background: $blue;
	}

	&:hover {
		color: $blue;
		&:after {
			content: "";
			width: 100%;
			background: $blue;
		}
	}
}

.hover_effect {
	text-decoration: none;
	cursor: pointer;
	transition:
		transform 0.2s,
		opacity 0.2s;
	animation: hover 0.2s infinite alternate;

	&:hover {
		transform: scale(1.01);
		opacity: 0.7;
	}

	&:active {
		transform: scale(0.98);
		opacity: 0.8;
	}
}
