*,
*::before,
*::after {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-size: inherit;
	font-weight: inherit;
}
