---
import { projects } from "$lib/projects";
import ProjectCard from "./ProjectCard.astro";
---

<div class="projects">
  {projects.map((project) => <ProjectCard {project} />)}
</div>

<style lang="scss">
  :global(.projects) {
    column-width: 18rem;
    column-gap: 0.8rem;
    width: 100%;
    max-width: 100vw;
  }

  :global(.projects > *) {
    break-inside: avoid;
    margin-bottom: 0.8rem;
    width: 100%;
    display: block;
  }
</style>
