---
import { projects } from "$lib/projects";
import ProjectCard from "./ProjectCard.astro";
---

<div class="projects">
  {projects.map((project) => <ProjectCard {project} />)}
</div>

<style lang="scss">
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 0.5rem;
    align-items: start;
  }
</style>
