---
import Nav from "../comp/Nav.svelte";
import HeroHeader from "../comp/HeroHeader.svelte";
import TechList from "../comp/TechList.svelte";
import "../styles/global.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="darkreader-lock" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Warsame Egeh</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<main>
			<Nav />
			<HeroHeader />
			<TechList />
		</main>
	</body>
</html>
