---
import HeroHeader from "$comp/HeroHeader.astro";
import { ProjectsList } from "$comp/projects";
import { TechList } from "$comp/tech_list";
import { SEO } from "astro-seo";
import "framework7-icons/css/framework7-icons.css";
import "../styles/global.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="darkreader-lock" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="favicon.ico" />

    <SEO
      title="Warsame Egeh"
      description="Full Stack Developer, from Web technologies to mobile applications."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body ontouchstart="">
    <main>
      <HeroHeader />
      <section>
        <div class="title">Projects</div>
        <ProjectsList />
      </section>
      <section>
        <div class="title">Technologies</div>
        <TechList />
      </section>
    </main>
  </body>
</html>

<style lang="scss">
  main {
    display: grid;
    grid-template-columns: 15rem 2fr 1.5fr;
    gap: 2rem;
    padding: 3rem 2rem 5rem;
    @media only screen and (max-width: 820px) {
      padding: 2rem 0.5rem 3rem;
    }

    > section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      > .title {
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 600;
      }
      &:last-child {
        // grid-column: span 2;
      }
    }

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      > section {
        &:last-child {
          grid-column: unset;
        }
      }
    }
  }
</style>
