<header>
  <div class="title">Full Stack Developer</div>
  <div class="name">Warsame Egeh</div>
  <div class="desc">
    Strong foundation in front-end technologies, expanded expertise into backend
    systems, API integrations, and mobile app development using Flutter.
  </div>
</header>

<style lang="scss">
  header {
    .title {
      font-size: 1.5rem;
      opacity: 0.5;
    }
    > .name {
      font-size: 3rem;
    }
    > .desc {
      margin-top: 0.5rem;
      max-width: 40rem;
      font-size: 1rem;
      opacity: 0.5;
    }
  }

  @media only screen and (max-width: 820px) {
    header {
      .title {
        font-size: 1.2rem;
      }
      > .name {
        font-size: 2.5rem;
      }
    }
  }
</style>
