---
import type { SocialLink } from "$lib/socials";

interface Props {
  item: SocialLink;
}

const { item } = Astro.props;
---

<a
  href={item.link}
  class=`hover_effect social_item`
  target="_blank"
  rel="noopener noreferrer"
>
  <span>{item.name}</span>
  <i class="f7-icons">{item.logo}</i>
</a>

<style lang="scss">
  .social_item {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: calc(3rem / 4.4);
    > span {
      font-weight: 500;
    }
    > i {
      font-size: 1rem;
    }
  }
</style>
